*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gemunu Libre', sans-serif;
}
body{
    background-color: #111;
    background-image: url(../img/Untitledx.png);
    background-size: calc(100vh - 10px);
    background-repeat: no-repeat;
    background-position: center 50px;
    background-attachment: fixed;
    overflow-x: hidden;

}

.wrapper{
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header{
    width: 100vw;
    height: 50px;
    background-color: #000;
    box-shadow: 0 0 10px #fff;
    position: fixed;
    top: 0;
}

.header_content{
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_menu ul li {
    display: block;
    height: 100%;
    padding: 0 13px;
    padding-bottom: 3px;
    cursor: pointer;
    border-bottom: 0.1rem solid transparent;
    transition: all .3s;
}
.header_menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.header_menu ul li:hover{
    border-color: #fff;
}

.container{
    width: calc(100vw - 50px);
    height: 93vh;
    margin: 0px auto;
    margin-top: 75px;
    box-shadow: 0 0 10px #fff;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    transform-style: flat;
    perspective: 1000px;
    position: relative;

}
.container .sidebar{
    width: 300px;
    height: 100%;
    border-right: 1px solid #fff;
    display: flex;
    justify-content: start;
}

.container .sidebar ul{
    width: 100%;
}

.container .sidebar ul li{
    display: block;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #fff;
}
.container .sidebar ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    transition: all .3s ease-in;
}

.container .sidebar ul li a.router-link-active, li.router-link-active>a {
    background-color: #fff;
    color: #000;
    }

.container .sidebar ul li a:hover{
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.1),#fff);
}

.container .main{
    width: 100%;
    height: 100%;
    color: #fff;
}
.container .main .main_item{
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-left: none;
}

.container > .main > .main_item > h1{
    padding: 10px;
    text-align: center;
    height: 50px;
    border-bottom: 1px solid #fff;
}
.container .main .home .home_content{
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: h3animation 0.5s both;
    animation-delay: 0.5s;    /* задержка в 1 секунду */
    overflow: hidden;
}
.container .main .home p{
    padding: 20px 50px;
    font-size: 5rem;
    text-align: center;
    text-shadow: 0px 5px 5px rgb(73, 184, 204);
    animation: homeText 1s both;
    animation-delay: 0.5s;    /* задержка в 1 секунду */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .main .services{
    overflow: auto;
    overflow-x: hidden;
}

.services_content{
    width: 100%;
    height: calc(100% - 50px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
}


/* width */
.services::-webkit-scrollbar {
    width: 10px;
  }
  .services::-webkit-scrollbar-track {
    background: #000;
  }
  .services::-webkit-scrollbar-thumb {
    background: #b6b6b6;
  }
  .services::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.container .main .services h1{
    height: 50px;
    padding: 10px;
    text-align: center;
    border: 1px solid #fff;
    border-left: none;
    text-transform: uppercase;
}

.services_item{
    width: 500px;
    border: 1px solid #fff;
    margin: 20px auto;
    animation: h3animation 0.5s both;
    animation-delay: 0.5s;    /* задержка в 1 секунду */
}

.services_item h3{
    height: 50px;
    padding: 10px;
    text-align: center;
    animation-delay: 0.5s;    /* задержка в 1 секунду */
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #fff;
    color: #000;
    animation: h3animation 0.5s both;


}
.services_item p {
    width: 500px;
    height: calc(100% - 50px);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    animation: pages 1.0s both;
    animation-delay: 1.0s;    /* задержка в 1 секунду */
}


.shake{
    animation: backgroundColorAnimation 0.5s both;
}
@keyframes backgroundColorAnimation {
    0% {
        opacity: 0;
        width: 0;
    }
    70% {
        opacity: 1;
    }
    100%{
    }
}

@keyframes pages {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes h3animation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes homeText {
    from{
        margin-top: -100%;
    }
    to{
        margin-top: 0;
    }
}

.projects .projects_content{
    width: 100%;
    height: calc(100% - 50px);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}

.projects .projects_content .projects_content_item {
    box-shadow: -2px 2px 10px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: h3animation 0.5s both;
    animation-delay: 0.5s;    /* задержка в 1 секунду */
}

.projects .projects_content .projects_content_item h1{
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    animation: pages 0.5s both;
    animation-delay: 1.0s;    /* задержка в 1 секунду */
}
.projects .projects_content .projects_content_item a {
    text-decoration: none;
}

.projects .projects_content .projects_content_item h1:hover{
    color: aliceblue;
    border-color: aliceblue;
}
